<p>1. Renderer2 для манипулирования ДОМ элементами</p>
<br>
<p>2. *ngIf="booleanProperty else variant"
<br>
ng-template #variant
/ng-template
</p>
Если booleanProperty === false, то отрендерится то, что в ng-template
<br>
<p>
3. @HostListener, @HostBinding и host используются при создании атрибутивных дирректив
</p>
<p>
4. При помощи ng-content можем вкинуть в дочерний компонент тот контент, который описали в его (дочернего компонента) селекторе.
<br>
ng-content можно написать много раз и в каждый из них прокинуть нужный селектор. Так можно управлять отображением
</p>




