<button mat-raised-button color="primary" [appBusyButton]="isDwnl" (click)="getData()">
    <span>
        NameOfButton
    </span>    
    <mat-icon style="display: none" >
        <mat-spinner color="accent" diameter="20"></mat-spinner>
    </mat-icon>
</button>
<!-- 
<br>
<br>
<br>
<button mat-raised-button color="primary" appBusyButton>
    NameOfButton
    <mat-icon>
        <mat-spinner color="accent" diameter="20"></mat-spinner>
    </mat-icon>
</button>
<p>Example of spinner</p>
<mat-icon>
    <mat-spinner color="accent" diameter="20"></mat-spinner>
</mat-icon> -->