<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="my-5">Advanced form</h1>
    </div>
    <div class="row">
      <div class="col-6">
        <form (submit)="onSubmit(myForm)" #myForm="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name: </label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="model.name"
              required
              name="name"
              minlength="4"
            />
          </div>
          <div class="alert alert-danger" *ngIf="formErrors.name">
            {{ formErrors.name }}
          </div>

          <div class="mb-3">
            <label for="age" class="form-label">Age: </label>
            <input
              type="text"
              class="form-control"
              id="age"
              [(ngModel)]="model.age"
              required
              name="age"
            />
          </div>
          <div class="alert alert-danger" *ngIf="formErrors.age">
            {{ formErrors.age }}
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role: </label>
            <select
              type="text"
              class="form-select"
              id="role"
              [(ngModel)]="model.role"
              name="role"
            >
              <option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </option>
            </select>
          </div>

          <button type="submit" [disabled]="myForm.form.invalid">Send</button>
        </form>

        <p>{{ this.model | json }}</p>
      </div>
    </div>
  </div>
</div>
