<!-- <p>ng-template works!</p> -->
<app-ng-template-daughter>
    <h1 class="header">Заголовок внутри селектора</h1>
    <br>
    <p class="paragraph">Эта разметка написана внутри селектора дочернего компонента, который размещен в шаблоне родительского</p>
    <br>
    <footer class="footer">Это футер</footer>
    <br>
    <p>
        Но все это не появится просто так в отображении. Для того, чтобы это все появилось, нужно в разметке
        ребенка объявить следующий тег:  &lt;ng-content&gt; &lt;/ng-content&gt;
        <br>
        Причем написать его нужно там, где мы хотим, чтобы оно все отобразилось
    </p>
    <p>
        Для того, чтобы сделанную верстку раскидывать где угодно на странице, нужно в нужные места
        отображать этот селектор &lt;ng-content&gt; &lt;/ng-content&gt; и внутрь него запихивать 
        атрибут select=".header". После этого в этом месте будут размещены части шаблона с классом
        .header. При этом в других местах этот класс будет удален. В данном случае так сделfно с заголовком
        и футером. Вместо класса можно отражать теги, но без точки
    </p>
    <p>
        Другими словами, мы в родителе, внутри селектора ребенка пишем весь контент, а потом в дочернем
        шаблоне мы все раскладываем так, как нам нужно
    </p>
</app-ng-template-daughter>
<hr>
<hr>
<hr>
<hr>
<hr>

