<p>
  В данном примере реализовано использование @Input, @Output, EventEmiter для
  передачи данных в родительский компонент.
</p>
<app-timers (tick)="try($event)"></app-timers>
<app-timers (tick)="try($event)" [interval]="2000"></app-timers>
<app-timers (tick)="try($event)" [interval]="3000"></app-timers>
<hr />
<br />
<p>В данном примере используется геттер</p>
<app-get-set firstName="John" lastName="Smith"></app-get-set>
<br />
<p>В данном примере используется сеттер</p>
<app-get-set fullName="Bob Marley"></app-get-set>
<hr />
<br />
<p>Данный пример иллюстрирует отображение размеченного текста дочернего компонента в родительском</p>
<app-spoiler header="Что такое Angular. Первый проект" [isVisible]="true">
  <p>
    Angular представляет фреймворк от компании Google для создания клиентских
    приложений. Прежде всего он нацелен на разработку SPA-решений (Single Page
    Application), то есть одностраничных приложений. В этом плане Angular
    является наследником другого фреймворка AngularJS. В то же время Angular это
    не новая версия AngularJS, а принципиально новый фреймворк.
  </p>
  <p>
    Angular предоставляет такую функциональность, как двустороннее связывание,
    позволяющее динамически изменять данные в одном месте интерфейса при
    изменении данных модели в другом, шаблоны, маршрутизация и так далее.
  </p>
  <p>
    Одной из ключевых особенностей Angular является то, что он использует в
    качестве языка программирования TypeScript. Поэтому перед началом работы
    рекомендуется ознакомиться с основами данного языка, про которые можно
    прочитать здесь.
  </p>
  <p>
    Но мы не ограничены языком TypeScript. При желании можем писать приложения
    на Angular с помощью таких языков как Dart или JavaScript. Однако TypeScript
    все таки является основным языком для Angular.
  </p>
</app-spoiler>
<app-spoiler header="Начало работы c Angular" [isVisible]="false">
  <p>
    Для работы с Angular необходимо установить сервер Node.js и пакетный
    менеджер npm, если они отсутствуют на рабочей машине. При этом особого
    какого-то знания для работы с NodeJS и npm не требуется. Для установки можно
    использовать программу установки node.js. Вместе с сервером она также
    установит и npm.
  </p>
  <p>
    Следует учитывать, что Angluar 13 поддерживает те версии node.js, которые в
    текущий момент находятся в статусе "Active LTS" или "Maintenance LTS". На
    момент написания данной статьи это версии от 14 и 16. Проверить статус
    определенной версии node.js можно по адресу:
    https://nodejs.org/en/about/releases/. Поэтому, если Node.js уже ранее был
    установлен, но имеет более старую или, наоборот новую, но еще не
    поддерживаемую версию, то лучше его обновить.
  </p>
  <p>
    То же самое касается и npm. Если версия слишком старая или, наоборот, одна
    из последних, то Angular может ее не поддерживать. При работе с Angular
    лучше полагаться на ту версию npm, которая устанавливается вместе с
    LTS-версией Node.js.
  </p>
</app-spoiler>
