<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="isShowBurger">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <button
          *ngFor="let button of navigationButtons"
          class="col-12 nav-button"
          mat-raised-button
          color="primary"
          routerLinkActive="active"
          [routerLink]="button.route"
        >
          {{ button?.name }}
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="mat-elevation-z8 content">
      <div class="wraper">

        <router-outlet></router-outlet>
      </div>

      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
