.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  mat-sidenav-container {
    background-color: #ebebeb
  }

  .content {
    margin: 5px;
    background-color: #ffffff;
    color: black;
    border-radius: 3px;
    height: 98%;
  }

  mat-nav-list {
    display: flex;
    flex-direction: column;
  }

  mat-sidenav {
    background-color: #80808000;
    width: 140px;
  }

  .content {
    background-color: rgb(41 163 255);
    margin-left: 143px;    
  }

  .nav-button {
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .active{
    background-color: #44105a;
  }

  .wraper {
    margin-left: 2em;
    margin-right: 1em;
  }